NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/vault
JWT_ACCESS_SECRET=change_me_at_least_32_chars_long_access
JWT_REFRESH_SECRET=change_me_at_least_32_chars_long_refresh
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=dsncsvgfm
CLOUDINARY_API_KEY=911145642611517
CLOUDINARY_API_SECRET=7rATIdoNV3A34GsLcv_ToGD7wXA
FRONTEND_URL=http://localhost:5173
